.navbar {
    background-color: rgba(4, 46, 96, 1);
}

.location {
    color: rgba(50, 217, 255, 1);
}

.navtext {
    color: white;
}

.career {
    background-color: rgba(4, 46, 96, 1);
    color: white;
    height: 300px;
    width: 300px;
}

.career2 {
    background-color: rgba(4, 46, 96, 1);
    color: white;
    height: 350px;
    width: 300px;
}

.career3 {
    background-color: rgba(4, 46, 96, 1);
    color: white;
    height: 650px;
    width: 300px;
}

.career4 {
    background-color: rgba(4, 46, 96, 1);
    color: white;
    height: 200px;
    width: 300px;
}

.images {
    height: 400px;
    width: 300px;
}

.images2 {
    height: 400px;
    width: 500px;
}

.video-container {
    flex: 1;
    min-width: 300px;
    margin-right: 2rem;
}
.content {
    flex: 1;
    min-width: 300px;
}
h1 {
    color: #3498db;
}
p {
    line-height: 1.6;
}
.cta-button {
    display: inline-block;
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .video-container {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}